<div class="availability-results">
  <div *ngIf="rooms.length < 1">
    <mat-icon>search</mat-icon>
    <h2>{{'checkAvailability' | translator:this.translationService.language}}</h2>
    <p style="font-weight: 100;">{{'tipAvailability' | translator:this.translationService.language}}</p>
  </div>
  <div *ngIf="rooms.length > 0"><!--todo solve table -->
    <div>{{rooms[0].rates.length}} {{'roomsAvailable' | translator:this.translationService.language}} {{this.hotelsService.getHotelName(rooms[0].hotel_code)}}</div>
    <div *ngFor="let room of rooms">
      <table mat-table [dataSource]="room.rates" class="mat-elevation-z8 rooms-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell
              *matHeaderCellDef>{{'room' |translator:this.translationService.language}} {{room.roomName}}</th>
          <td mat-cell
              *matCellDef="let element"> {{'fare' | translator:this.translationService.language}} {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef>{{'price'|translator:this.translationService.language}}</th>
          <td mat-cell *matCellDef="let element"> {{element.totalPrice}} €</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
