<div class="spinner" *ngIf="!isDataLoaded">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="isDataLoaded" class="searcher">
  <div class="searcher-header">
    <h1>Availability example</h1>
    <mat-divider></mat-divider>
  </div>
  <div [formGroup]="availabilityForm" class="searcher-form">
    <mat-form-field appearance="fill">
      <mat-label>Hotels</mat-label>
      <mat-select [formControlName]="'hotel'">
        <mat-option *ngFor="let hotel of this.hotels" [value]="hotel.code">
          {{hotel.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Check in</mat-label>
      <input [formControlName]="'startDate'" matInput [matDatepicker]="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Check out</mat-label>
      <input [formControlName]="'endDate'" matInput [matDatepicker]="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
    <button (click)="onCheckAvailability()" [disabled]="!availabilityForm.valid" class="check-button" mat-raised-button
            color="primary">CHECK AVAILABILITY
    </button>
  </div>
  <div class="spinner" *ngIf="isAvailabilityLoading">
    <mat-spinner></mat-spinner>
  </div>
  <app-rates-viewer *ngIf="!isAvailabilityLoading"></app-rates-viewer>
</div>
